<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= event.venue %>
  </p>

  <p>
    <strong>Organizer:</strong>
    <%= event.organizer_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Ticket price:</strong>
    <%= event.ticket_price %>
  </p>

  <p>
    <strong>Ticket sold:</strong>
    <%= event.ticket_sold %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

</div>
