
<p style="color: black"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p><strong>Venue Capacity: </strong><%= event.venue_capacity %></p>
    <p>
      <%= link_to "Show this event", event, style: "display: inline-block; padding: 10px 15px; background-color:plum; border-radius:5px;color:black" %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path,style: "display:inline-block;padding:10px 15px; border-radius:5px;color:black;background-color:gold" %>
